<div id="weekly">
    <div class="container">
      <ul class="deputy">
        <li>
          <strong><span>34</span> iniciativas</strong>
          <img class="deputy_pic" src="/images/diputado01.jpg" alt="Diputado con más iniciativas" width="110" height="165" />
          <p>Conde Roa, Gerardo Jesús</p>
        </li>
        <li>
          <strong><span>0</span> iniciativas</strong>
          <img class="deputy_pic" src="/images/diputado02.jpg" alt="Diputado con menos iniciativas" width="110" height="165" />
          <p>Hermosín Bono, Carmen<br />y <span>5</span> diputados más</p>
        </li>
      </ul>
    </div>
</div> <!-- #weekly -->
 
<div id="monthly">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
</div> <!-- #monthly -->

<div id="legislature">
  <div class="container">
  </div>
</div> <!-- #legislature -->
