<h1>Deputies</h1>

<ul>
  <% @deputies.each do |deputy| %>
  <%= image_tag deputy.photo_url.to_s, :size => '20x30' %>
  <!-- <li>
    <%= deputy.name %>
    <p><%= deputy.initiatives_count %></p>
    <p><%= deputy.political_party_name %></p>
  </li> -->
  <% end %>
</ul>