body {
	font-size: medium;
	font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, Arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
} 

#header {
	background: #282c33 url('../images/header.jpg') no-repeat center;
	height: 86px;
	margin: 0 auto;
	text-align: center;
}

#header h1 {
  padding-top: 22px;
  font-size: 36px;
}

#header h1 a {
  color: white;
  text-decoration: none;
}

#header h1 a:hover {text-decoration: underline;}

#block h2 {
	font-size: 30px;
	font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, Arial, sans-serif;
	line-height: 40px;
	text-shadow: 0.3em 0.3em 1em gray ; 
}

#block {
	background-color: #e8e8ea;
	margin: 0 auto;
	padding: 35px 0;
	text-align: center;
	}

.container h3 {
	text-align: center;
	color: #ffffff;
	margin: 5px 0 24px 0;
	letter-spacing:1px;
	font-size: 40px;
} 

.container h3 a{
	color: #ffffff;
}

.container h3 a:hover {
	color: #adabab;
	
}

#step1 {
	background: url('../images/bg_r.jpg') repeat-y center;
} 

#step2 {
	background: url('../images/bg_g.jpg') repeat-y center;	
	
}

#step3 {
	background: url('../images/bg_r.jpg') repeat-y center;
}

#step4 {
	background: url('../images/bg_g.jpg') repeat-y center;	
	
}

#step4 .container {
	background: url('../images/shadow.png') no-repeat center top;
	color: #eee;
	text-align:center;
	padding: 30px;
	font-size: 14px;
	font-family: Arial, sans;
	font-weight: normal;
	text-shadow: 1px 1px 2px black;
	line-height: 18px;
}

#step4 a {
	color: white;
	}
	
#step4 a:hover {color: #1f2329;}

#step5 {
	background: url('../images/bg_g.jpg') repeat-y center;	
	
}

.container {
	background: url('../images/shadow.png') no-repeat center top;
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}


/*   Iniciativas por candidato   */


.deputy {
	font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
	/*background: url('../images/scale2.png') no-repeat center center;*/
	width: 650px;
	margin: 0 auto;
	color: #ffffff;
}

#step1 .container{
padding: 25px 0;}

.deputy li {
    width: 300px;
    min-height: 250px;        
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
}

img.deputy_pic {
  box-shadow: 3px 3px 10em  black;
  -moz-box-shadow:3px 3px 10em  black ;
  -webkit-box-shadow:3px 3px 10em  black;
  display:block;
}
.deputy li strong {
	text-align: center;
	font-size:120%;
	display: block;
	margin: 8px 0;
}

.deputy li strong span{
	font-size:200%;
	letter-spacing:2px;
}


.deputy div {
	position: relative;
	overflow: hidden;
	width: 110px;
	margin: 0 auto;
	height: 165px;
}

.political_party {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-left: 1px dotted white;
	border-top: 1px dotted white;
}

.deputy li p {
	text-align: center;
	font-size:90%;
	font-weight: normal;
	line-height: 20px;
	margin:8px 0;
	}
	
.deputy li p span{
	font-size:150%;
letter-spacing:2px;
font-weight:bold;
	}


/*  Iniciativas por partido */

#step2 .container {padding-top:25px;}

ul.team {
	font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
	/*background: url('../images/scale.png') no-repeat center center;*/
	width: 406px;
	float: left;
	margin-top: 20px;
}

ul.team li {
	width: 203px;
	display: block;
	height: 100px;
	padding-left: 203px;
	text-align: center;	
	position: relative;
	color: #ffffff;
	font-size: 127%;
	line-height: 30px;
	margin-bottom: 67px;
}

ul.team li span {
	font-size: 350%;
	font-weight: bold;
	margin: 0 50px;
}


.team strong {
	display: block;
	position: absolute;
	width: 203px;
	left: 0px;
	top: 0px;
}

.team strong img {
	margin: 0px auto;
	display: block;  
}


/* Iniciativas por candidato */

ul.initiatives {
	width: 366px; 
	float: left;
	padding: 0 20px;
	text-align: center;
	position: relative;
	background: url('../images/iniciativas.png') no-repeat center center;
}

ul.initiatives p {
  margin: 100px 50px;
	text-align:center;
	font-size: 20px;
	color: black;
	text-shadow: 0em 0em 1em  white;
  background-color: rgba(255,255,255,0.7);

  text-shadow: none;

  padding: 20px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 10em  black;
  -moz-box-shadow:3px 3px 10em  black ;
   -webkit-box-shadow:3px 3px 10em  black;
}

ul.initiatives p strong {
  font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
  font-size: 52px;	
  display: block;
}


/* Total Iniciativas por diputado */
#step3 .container {
	padding: 25px 0;
}

ul.total {
	width: 500px;
	margin: 0px auto;
}

ul.total p {
	color: #ffffff;
	text-align: center;
	font-size: 40px;
}
ul.total li {
	padding: 25px 0 35px 130px;
}

ul.total li#initiatives {
	background: url('../images/doc.png') no-repeat left;
	/*text-align: center;*/
}

ul.total li#deputies {
	background: url('../images/user.png') no-repeat left;
	padding-left: 174px;
}

ul.total strong {
	color: #ffffff;
	font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
	font-size: 143%;
	display: inline;
}

ul.total strong span{
	color: #ffffff;
	font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
	font-size: 350%;
	margin-right: 10px;
}


/*Ranking de Diputados*/


#ranking {
	width: 800px;
    margin: 0 auto;
	color: #ffffff;
	margin:0px auto 0px;
	padding-top: 20px;
	font-family: Arial, Helvetica, Verdana, "Trebuchet MS", sans-serif;
}

table#ranking td {
	padding: 5px 0;
	vertical-align: top;
	text-align: center;
}
table#ranking td.name {
	padding: 10px 0;
	vertical-align: top;
	text-align: left;
}


table#ranking td.name strong.name{
  font-size: 28px;
}

#ranking  img.pic{
	margin: 0px 7px;
}

#ranking span {
	font-size: 55px;
	margin: 8px 15px 8px 0;
	font-weight: bold;
}

#ranking a {
  color: white;
  text-decoration: none;
}

#ranking a:hover {
  text-decoration: underline;
}

#ranking a.external_link{
	color:#282c33;
	font-size: 92%;
	text-shadow: none;
	text-decoration: underline;
	
}

#ranking thead th {padding-bottom: 15px;}




