<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="es" />
<title>3.126 € - ¿Se ganan su sueldo nuestros diputados?</title>
<meta name="description" content="3.126 euros muestra con datos, gráficos y números los movimientos que se realizan en el Congreso."/>
<meta name="keywords" content="Congreso de los Diputados, Congreso, Senado, Parlamento, parlamentarios, ley, constitución, ministros, diputados, hemiciclo, España, presidente del gobierno, legislatura, democracia" />
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="../js/DD_belatedPNG.js"></script>
<script>
    DD_belatedPNG.fix('.container');
</script>
<![endif]-->
</head>
<body>
 
   
    <div id="header">
      <h1><a href="index.html" title="3.126 € - Home">3126euros.com</a></h1>
    </div> <!-- #header -->
    
    <div id="block">
      <h2>Es el salario que cobra cada Diputado de los 350 que hay.<br /><strong>¿Crees que se ganan su sueldo?</strong></h2>
    </div> <!-- #block -->
    
    <%= yield %>
 

</body>
</html>