<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="es" />
<title>3.126 € - ¿Se ganan su sueldo nuestros diputados?</title>
<meta name="description" content="3.126 euros muestra de manera clara y sencilla mediante números los movimientos que se realizan en el Congreso."/>
<meta name="keywords" content="Congreso de los Diputados, Congreso, Senado, Parlamento, parlamentarios, ley, constitución, ministros, diputados, hemiciclo, España, presidente del gobierno, legislatura, democracia" />
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="/javascripts/DD_belatedPNG.js"></script>
<script>
    DD_belatedPNG.fix('#step1, #step2, #step3, #step4, #step5');
</script>
<![endif]-->
</head>
<body>
 
   
    <div id="header">
      <h1><a href="/" title="3.126 € - Home">3126euros.com</a></h1>
    </div> <!-- #header -->
        
    <%= yield %>
 

    <div id="step4">
      <div class="container">
     <p>Este proyecto forma parte del concurso <a href="http://www.abredatos.es" title="Ir a web del Desafío AbreDatos">AbreDatos</a> y ha sido realizado en 48 horas.</p>
     <p>Su autoría pertenece al equipo <a href="http://live.abredatos.es/teams/35" title="Ver información">Linkopía</a>, formado por <a href="mailto:guillermo@cientifico.net" title="Email de contacto">Guillermo Álvarez</a> y <a href="mailto:ster@ster-eo.net" title="Email de contacto">Esther Amor</a>.</p>
    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-15919820-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>